<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar</title>
  <link rel="stylesheet" href="css/navbar.css"/>
  <link rel="stylesheet" href="css/sidebar.css"/>
</head>
<body>
  <header class="navbar">
  </header>

  <div class="sidebar">
    <ul>
      <li><a>Universitas Andalas</a></li>
      <li><a href="#">Assignment</a></li>
    </ul>
  </div>


  <script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    
    signupBtn.onclick = (()=>{
      loginForm.style.marginLeft = "-50%";
      loginText.style.marginLeft = "-50%";
    });
    
    loginBtn.onclick = (()=>{
      loginForm.style.marginLeft = "0%";
      loginText.style.marginLeft = "0%";
    });
    
    signupLink.onclick = (()=>{
      signupBtn.click();
      return false;
    });
  </script>
</body>
</html>
